body {
    background-color: lightblue;
}

h1 {
    text-align: center;
}

.form {
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
    background-color: rgb(196, 232, 244);
}