<!DOCTYPE html>
<html>

<head>
    <title>Контактна інформація | PhoneStore</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>

<body>

    <div class="wrapper">

        <header class="header-outer">
            <div class="header-inner responsive-wrapper">
                <div class="header-logo">
                    <a href="{{ url_for('routes.index') }}"><img src="../static/favicon.png"></a>
                    <div>
                        <span class="title">noPhone</span>
                        <span class="desc">Обери телефон своєї мрії</span>
                    </div>

                </div>
                <nav class="header-navigation">
                    <a href="{{ url_for('routes.index') }}">Home</a>
                    <a href="{{ url_for('routes.contacts') }}">Contact Us</a>
                    <button>Menu</button>
                </nav>
            </div>
        </header>

        <div class="main">
            <h1>Контактна інформація</h1>
            <ul>
                <li>Номер телефону: +380 (12) 345 67 89</li>
                <li>Адреса: Житомир, вулиця Лесі Українки, 76 / Zhytomyr, Lesia Ukrainka Street, 67</li>
                <li>ТОВ «Zhytomyr noPhone»</li>
            </ul>
        </div>

        <footer>
            <p>© 2026 Copyright. ТОВ «Zhytomyr noPhone». All right reserved.</p>
            <p>noPhone - Online Phone Store that works all around the world</p>
        </footer>

    </div>
</body>

</html>